
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="form">
    <form class="form-container" #userName="ngForm" (ngSubmit)="Submit(userName.value)">
        <input type="number" name="userId" placeholder="userId" [(ngModel)]="userid">
        <input type="text" name="username" placeholder="username" [(ngModel)]="username">
        <input type="text" name="userRole" placeholder="userRole" [(ngModel)]="userrole">
        <input type="text" name="userDept" placeholder="userDept" [(ngModel)]="userdept">
        <input type="submit" value="submit">
     </form>
</div>

