.table-container {
    
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    width: 85%;
    padding:50px;
}
th, td{
    border: 2px solid grey;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}


.btn{
    display:flex;
    justify-content: center;
    padding:25px;
}
.note{
    display: flex;
    float:inherit;
    width: 85%;
    justify-content: center;
    padding-left: 300px;
    
}


